---
import type { Post } from "../../types/posts";
import PostSuggestion from "./PostSuggestion.astro";

const { currentFrontmatter, allFrontmatters } = Astro.props;

// Filter allFrontmatters by tags that are in currentFrontmatter
const relatedFrontmatters = currentFrontmatter
  ? allFrontmatters.filter((frontmatter: Post) =>
      frontmatter.tags.some((tag: string) =>
        currentFrontmatter.tags.includes(tag)
      )
    )
  : [];
// If currentFormatter tag is in relatedFrontmatters remove it from the list
const relatedFrontmattersWithoutCurrent = relatedFrontmatters.filter(
  (frontmatter: Post) => frontmatter.title !== currentFrontmatter!.title
);

// if relatedFrontmattersWithoutCurrent is shorter than 2
// add new posts from allFrontmatters to the list
if (relatedFrontmattersWithoutCurrent.length < 2) {
  allFrontmatters.forEach((frontmatter: Post) => {
    if (
      !relatedFrontmattersWithoutCurrent.some(
        (relatedFrontmatter: Post) =>
          relatedFrontmatter.title === frontmatter.title
      )
    ) {
      if (relatedFrontmattersWithoutCurrent.length < 2) {
        relatedFrontmattersWithoutCurrent.push(frontmatter);
      }
    }
  });
}

const recommendedByTag = relatedFrontmattersWithoutCurrent.slice(0, 2);
const recommendedByLatest = allFrontmatters.slice(0, 2);
---

<div class="flex flex-wrap justify-center gap-8">
  {
    relatedFrontmattersWithoutCurrent.length > 0
      ? recommendedByTag.map((frontmatter: Post) => (
          <PostSuggestion frontmatter={frontmatter} />
        ))
      : recommendedByLatest.map((frontmatter: Post) => (
          <PostSuggestion frontmatter={frontmatter} />
        ))
  }
</div>
