---
import { GetTags } from "../../utils/tags";
import Tag from "./Tag.astro";
import type { TagList as Props } from "../../types/tags";

const { tagList } = Astro.props;

const tags = GetTags(tagList);
---

<section class="md:max-w-[30%] w-full mt-10 md:mt-0">
  <h3 class="mb-3 text-slate-100 font-semibold text-lg">Tags</h3>
  <div class="flex gap-4 flex-wrap">
    {tags.map((tag) => <Tag tag={tag} />)}
  </div>
</section>
