---
import PostSuggestionsList from "../../components/posts/PostSuggestionsList.astro";
import Layout from "../../layouts/Layout.astro";
import { getSortedBlogPosts } from "../../utils/contentCollections";
const description =
  "Learn more about Dario Nalerio, a software developer from Uruguay, and his personal blog where he shares his thoughts on software development, things he learns along the way, and anything that piques his interest in the realm of technology and development.";

// Get all posts for suggestions
const posts = await getSortedBlogPosts("en");
const allFrontmatters = posts.map((post) => post.data);
const title = "About Me | Dario Nalerio";
---

<Layout title={title} description={description}>
  <h1 class="my-10 text-xl font-medium">About Me</h1>

  <div
    class="flex flex-col gap-4 md:max-w-[90%] lg:max-w-[80] xl:max-w-[70%] text-slate-200 tracking-wide leading-loose"
  >
    <p>
      Hi there! I'm Dario, a software developer from Uruguay, experienced in
      working on projects spanning both the front-end and back-end aspects of
      web applications. I mostly work with TypeScript, but love to dive into
      other languages and tools.
    </p>

    <p>
      In this blog, I'll be sharing my thoughts on software development, things
      I learn along the way, as well as anything that piques my interest in the
      realm of technology and development .
    </p>

    <p>Feel free to read some of my latest articles:</p>
  </div>

  <div class="mt-20">
    <PostSuggestionsList allFrontmatters={allFrontmatters} />
  </div>
</Layout>
