---
import { linkedinURL, githubURL } from "../config/index.ts";
---

<footer>
  <section class="w-full bottom-0 p-8 flex justify-center gap-10 mt-6">
    <a href="mailto:dariomnalerio@gmail.com" class="hover:scale-105">Contacto</a>
    <a href={githubURL} target="_blank" class="hover:scale-105">Github</a>
    <a href={linkedinURL} target="_blank" class="hover:scale-105">Linkedin</a>
  </section>
</footer>
