---
import { linkedinURL, githubURL } from "../config/index.ts";
---

<footer>
  <section class="w-full bottom-0 p-8 flex justify-center gap-10 mt-6">
    <a
      href="mailto:dariomnalerio@gmail.com"
      class="hover:scale-105"
      aria-label="Contact Dario Nalerio by email">Contacto</a
    >
    <a
      href={githubURL}
      target="_blank"
      class="hover:scale-105"
      aria-label="Visit Dario Nalerio's Github profile">Github</a
    >
    <a
      href={linkedinURL}
      target="_blank"
      class="hover:scale-105"
      aria-label="Visit Dario Nalerio's LinkedIn profile">Linkedin</a
    >
  </section>
</footer>
