---
import GithubIcon from "../components/ui/icons/GithubIcon.astro";
import LinkedinIcon from "./ui/icons/LinkedinIcon.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="mx-10 md:mx-32 xl:mx-52 2xl:mx-80">
  <nav class="flex justify-between items-center py-4">
    <!-- Logo and home button -->
    <a
      href=`/${lang}/`
      class="text-xl font-medium md:text-2xl tracking-wider hover:scale-105 hover:delay-150 hover:duration-300 logo mt-1"
      aria-label="Home page link. Goes back to latest articles."
    >
      {t("nav.home")}
    </a>
    <!-- Links and socials -->
    <div class="flex">
      <a
        href=`/${lang}/about`
        class="text-slate-300 hover:scale-110 hover:duration-150 hover:text-slate-200 tracking-[1px] mt-1 mr-3 md:mr-10"
        aria-label="About page link. Learn more about me.">{t("nav.about")}</a
      >

      <div class="flex gap-4 md:gap-8 items-center mt-1">
        <GithubIcon />
        <LinkedinIcon />
        <LanguagePicker />
      </div>

    </div>
  </nav>
</header>

<style>
  .logo {
    font-family: "Orelega One";
  }
</style>
